.wrapper {
  width: 500px;
  padding: 30px;
  height: 200px;
  border-radius: 12px;
  border: 1px solid gray;
  background-color: white;

  h1 {
    text-align: center;
  }

  .btn {
    display: flex;
    justify-content: center;

    .extraClass {
      margin: 80px 0 0;
    }

    button:first-child {
      margin-right: 20px;
    }
  }
}
