.pageNumbers {
  margin: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 20px 0;
  position: fixed;
  list-style: none;
  justify-content: center;
  background-color: gray;

  li {
    color: white;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    margin-right: 0.6em;

    .current {
      color: black;
    }
  }

  li:hover {
    color: black;
  }
}
