.filter {
  display: flex;

  .pageFilter {
    width: 180px;
    margin-right: 20px;
  }

  .originFilter {
    width: 370px;
  }

  .priceFilter {
    input {
      border: none;
      outline: none;
      height: 36px;
      width: 70px;
      font-size: 16px;
      padding: 1px 8px;
      margin-right: 20px;
      border-radius: 4px;
      font-family: 'Times New Roman';

      ::placeholder {
        font-size: 16px;
      }
    }
  }
}

.clearFiltersClass {
  margin: 0;

  button {
    width: 100px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    background-color: gray;
  }
}
