.cartWrapper::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  height: 100%;
  opacity: 0.15;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://1184592825.rsc.cdn77.org/main-files/uploads/2018/03/abandoned-cart-carritos-abandonados.jpg");
}

.cartWrapper > p {
  color: black;
  text-align: right;
  padding-right: 40px;
}

.empty {
  height: 500px;
  display: flex;
  color: grey;
  align-items: center;
  justify-content: center;
}

.blockWrapper {
  display: flex;
  padding: 20px 20px 0;
  justify-content: space-between;

  p {
    font-size: 20px;
    font-weight: bold;
  }


  button {
    border: none;
    outline: none;
    color: white;
    margin: 0 auto;
    cursor: pointer;
    padding: 0 10px;
    font-size: 18px;
    width: fit-content;
    border-radius: 10px;
    background-color: gray;
  }
}
