.wrapper {
  width: 500px;
  height: 500px;
  display: flex;
  padding: 30px;
  border-radius: 12px;
  flex-direction: column;
  border: 1px solid gray;
  background-color: white;

  input {
    height: 30px;
    width: 480px;
    outline: none;
    font-size: 16px;
    padding: 2px 8px;
    border-radius: 3px;
    font-family: "Times New Roman";
    border: 1px solid lightgray;
  }
  .error {
    color: red;
    font-style: 12px;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  p {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .icon {
    cursor: pointer;
  }
}

.field {
  margin-bottom: 30px;

  .title {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

.btn {
  display: flex;
  justify-content: center;

  .extraClass {
    margin: 80px 0 0;
  }

  button:first-child {
    margin-right: 20px;
  }
}
