.header {
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  align-items: center;
  padding-right: 20px;
  background-color: gray;
  justify-content: flex-end;

  .total {
    color: white;
    font-size: 20px;
    margin: 0 20px;
  }

  .icon {
    color: white;
    padding-right: 20px;
    cursor: pointer;
  }

  .pageFilter {
    width: 180px;
    margin-right: 20px;
  }

  .countryFilter {
    width: 370px;
  }

  .priceFilter {
    input {
      border: none;
      outline: none;
      height: 36px;
      width: 70px;
      border-radius: 4px;
      margin-right: 20px;
      padding: 0 8px;

      ::placeholder {
        font-size: 16px;
      }
    }
  }
}
