.header {
  height: 50px;
  width: 100%;
  display: flex;
  color: white;
  position: fixed;
  align-items: center;
  padding-right: 20px;
  background-color: gray;
  justify-content: flex-end;
  
  span {
    color: white;
    font-size: 20px;
    margin-right: 10px;
  }

  div {
    cursor: pointer;
    margin-right: 20px;
  }
}


