nav {
  display: flex;

  a:first-child {
    margin-right: 15px;
  }

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }

  a:hover, .isActive {
    color: black;
  }

  
}
