nav {
  display: flex;

  a {
    color: white;
    font-size: 20px;
    margin-left: 25px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }

  a:last-of-type {
    margin-right: 25px;
  }

  a:hover, .isActive {
    color: black;
  }

  
}
