.cartItemWrapper {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 20px 50px 20px 100px;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  p {
    color: black;
  }
  button {
    margin: 0;
    padding: 0;
    color: black;
    border: none;
    outline: none;
    background-color: white;
  }
}

.nameWrapper {
  width: 250px;
  margin-right: 100px;
}
.quantityWrapper {
  width: 150px;
  display: flex;
  margin-right: 100px;
  align-items: center;

  button:first-child {
    margin-right: 20px;
  }

  button:last-child {
    margin-left: 20px;
  }
}
.priceWrapper {
  width: 100px;
}
